{% extends 'base.html' %}


{% load static %}


{% block back_button %}
    <a class="left show-on-large" style="margin: 0px 0px 0px 10px" href="/">
        <i class="large material-icons">arrow_back</i> 
    </a>
{% endblock %}

{% block title %} Cancel Event | {{ event.name }}{% endblock %}

{% block content %}
  <head>
    <!--Only makes use of events-container and event styles-->
    <link rel="stylesheet" type="text/css" href="{% static 'events/event_list.css' %}">
  </head>
    <div class="container">
      <form method="post" id="cancel-form">{% csrf_token %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">Cancel "{{event.name}}"?</span>
              <div class="divider"></div>
              <br>
              <p class="card-text">Completing this action will permanently delete this event, removing it from the LiveLobby home page and preventing more players from joining.</p>

          </div>
          <div class="card-action">
            <a class="blue-text" href="{% url 'event_list_view' %}" >Keep</a>
            <a href="#" onclick="document.getElementById('cancel-form').submit();" class="blue-text">Delete</a>
          </div>
        </div>
      </form>
    </div>
{% endblock %}