{% extends 'base.html' %}
{% block title %} Create Event {% endblock title %}

{% block back_button %}
    <a class="left show-on-large" style="margin: 0px 0px 0px 10px" href="/">
        <i class="large material-icons">arrow_back</i>
    </a>
{% endblock %}

{% load static %}

{% block content %}
<div class="container" style="padding-left:0px">
  <div class="container center">
          <h3 class="blue-text">Create Event</h3>
          <div class="row">
            {% if form.errors %}
              {% for field, errors in form.errors.items %}
                <div class="col s12 m8 offset-m2">
                  <div class="red-text left-align">{{ errors }}</div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="row">
            <div class="col s12 m8 offset-m2">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                      <div class="input-field">
                        <!-- Need to add a <label> tag around just is_booked-->
                        {% if field.name == 'is_booked' %}
                          <label>
                            {{ field }}
                            {% if field.help_text %}
                              <span class="helper-text" data-error="
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}">
                                {{ field.help_text|safe }}
                              </span>
                            {% endif %}
                          </label>
                        {% else %}
                          {{ field }}
                          <label for="{{ field.html_name }}">{{ field.label }}</label>
                          {% if field.help_text %}
                            <span class="helper-text" data-error="
                              {% for error in field.errors %}
                                  {{ error }}
                              {% endfor %}">
                              {{ field.help_text|safe }}
                            </span>
                          {% endif %}
                        {% endif %}
                      </div>
                  <br>
                {% endfor %}
                {% if form.places.errors %}
                    {% for error in form.places.errors %}
                        <div class="red-text left-align">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <br><br><br><br>
                <button type="submit" class="btn waves-effect waves-light blue">
                  Create <i class="material-icons right">send</i>
                </button>
            </form>
          </div>
          </div>
        </div>
</div>
{% endblock %}
