{% extends 'base.html' %}
{% block title %}
{% if form.instance.pk is None %}
  Create Event
{% else %}
  {% if form.instance.host == user %}
    Edit Event
  {% else %}
    Event details
  {% endif %}
{% endif %}
{% endblock title %}

{% block navbar_links %}
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <button type="button" class="btn btn-danger btn-lg">
                Cancel
            </button>
        </a>
    </li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        {% if form.instance.pk is None %}
          <h2 class="card-title">Event creation form</h2>
          <div class="card-subtitle mb-2 text-muted"> To create an event, please enter the details below.</div>
        {% else %}
          {% if form.instance.host == user %}
            <h2 class="card-title">Event edit form</h2>
            <div class="card-subtitle mb-2 text-muted"> To edit this event, please update the details below.</div>
          {% else %}
            <h2 class="card-title">Event details form</h2>
          {% endif %}
        {% endif %}
        </br>
        {% if form.errors %}
          <div class="alert alert-danger">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                        <strong>{{ error|escape }}</strong>
                {% endfor %}
            {% endif %}
            {% if not form.non_field_errors %}
                <strong>There are required fields missing</strong>
            {% endif %}
          </div>
        {% endif %}
        <!-- If the user is not hosting this event, they won't be able to edit it.-->
        {% if form.instance.host == user %}<form method="post" novalidate>{% endif %}
            {% csrf_token %}
            <div class="container-fluid">
              {% if not form.instance.host == user %}<fieldset disabled>{% endif %}
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <!-- Date -->
                  <label class="font-weight-bold">{{ form.date.label }}</label>
                  {% if form.date.errors %}{% for error in form.date.errors %}<p class="font-italic text-danger"><strong>{{ error|escape }}</strong></p>{% endfor %}{% endif %}</br>
                  {{ form.date }}<br/>{{ form.date.help_text|safe }}
                  <br/><br/>

                  <!-- Time -->
                  <label class="font-weight-bold">{{ form.time.label }}</label>
                  {% if form.time.errors %}{% for error in form.time.errors %}<p class="font-italic text-danger"><strong>{{ error|escape }}</strong></p>{% endfor %}{% endif %}</br>
                  {{ form.time }}<br/>{{ form.time.help_text|safe }}
                  <br/><br/>

                </div>
                <div class="col-md-4">

                  <!-- Type -->
                  <label class="font-weight-bold">{{ form.type.label }}</label>
                  {% if form.type.errors %}{% for error in form.type.errors %}<p class="font-italic text-danger"><strong>{{ error|escape }}</strong></p>{% endfor %}{% endif %}</br>
                  {{ form.type }}<br/>{{ form.type.help_text|safe }}
                  <br/><br/>

                  <!-- Name -->
                  <label class="font-weight-bold">{{ form.name.label }}</label>
                  {% if form.name.errors %}{% for error in form.name.errors %}<p class="font-italic text-danger"><strong>{{ error|escape }}</strong></p>{% endfor %}{% endif %}</br>
                  {{ form.name }}<br/>{{ form.name.help_text|safe }}
                  <br/><br/>

                  <!-- Host -->
                  <label class="font-weight-bold">{{ form.host_name.label }}</label>
                  {% if form.host_name.errors %}{% for error in form.host_name.errors %}<p class="font-italic text-danger"><strong>{{ error|escape }}</strong></p>{% endfor %}{% endif %}</br>
                  {{ form.host_name }}<br/>{{ form.host_name.help_text|safe }}

                  <!-- Description -->
                  <label class="font-weight-bold">{{ form.description.label }}</label>
                  {% if form.description.errors %}{% for error in form.description.errors %}<p class="font-italic text-danger"><strong>{{ error|escape }}</strong></p>{% endfor %}{% endif %}</br>
                  {{ form.description }}<br/>{{ form.description.help_text|safe }}
                  <br/><br/>
                </div>
                <div class="col-md-4">

                  <!-- Initial Size -->
                  <label class="font-weight-bold">{{ form.initial_size.label }}</label>
                  {% if form.initial_size.errors %}{% for error in form.initial_size.errors %}<p class="font-italic text-danger"><strong>{{ error|escape }}</strong></p>{% endfor %}{% endif %}</br>
                  {{ form.initial_size }}<br/>{{ form.initial_size.help_text|safe }}
                  <br/><br/>

                    <!-- Max Size -->
                  <label class="font-weight-bold">{{ form.max_size.label }}</label>
                  {% if form.max_size.errors %}{% for error in form.max_size.errors %}<p class="font-italic text-danger"><strong>{{ error|escape }}</strong></p>{% endfor %}{% endif %}</br>
                  {{ form.max_size }}<br/>{{ form.max_size.help_text|safe }}
                  <br/><br/>
                </div>
              </div>
              <div>
                {% if form.instance.pk is None %}
                <button type="submit" class="btn btn-success btn-block">Create Event</button>
                {% else %}
                  {% if form.instance.host == user %}
                    <button type="submit" action="" class="btn btn-success btn-block" value="Update">Update Event</button>
                  {% endif %}
                {% endif %}
              </div>
              {% if not form.instance.host == user %}</fieldset>{% endif %}
            </div>
        {% if form.instance.host == user %}</form>{% endif %}
    </div>
</div>
{% endblock %}
