{% extends 'base.html' %}

{% load static %}

{% block title %}Guild's LiveLobby{% endblock %}

{% block back_button %}
    <a class="left show-on-large" style="margin: 0px 0px 0px 10px" href="/">
        <i class="large material-icons">arrow_back</i>
    </a>
{% endblock %}

{% block navbar_buttons %}
  <li class="hide-on-med-and-down">
    <a class="waves-effect waves-light blue btn" href="
      {% if user.is_authenticated %}
          {% url 'create_event_view' %}
      {% else %}
          {% url 'login' %}
      {% endif %}">
      {% if user.is_authenticated %}
          Create Event
      {% else %}
          Login
      {% endif %}
    </a>
  </li>
{% endblock %}

{% block side_menu_button %}
  <a href="#" data-target="mobile-nav" class="right sidenav-trigger show-on-large">
      <i class="material-icons">menu</i>
  </a>
{% endblock %}

{% block side_menu_content %}
  {% if user.is_authenticated %}
    <!--Show login details-->
    <li>
      <div class="user-view">
        <div class="background">
          <img style="opacity: 0.3;" src="{% static 'events/pizza.jpg' %}">
        </div>
        <!-- Default user image https://goo.gl/images/fdsMBc -->
        <img class="circle" src="{% static 'events/default_user.png' %}">
        <span class="text name">{{ user.display_name }}</span>
        <span class="text email">{{ user.email }}</span>
      </div>
    </li>

    <!--Menu items (for logged in users)-->
    <li>
      <a href="
        {% if user.is_authenticated %}
            {% url 'create_event_view' %}
        {% endif %}">
        Create Event <i class="material-icons">add</i>
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}">
        Logout <i class="material-icons">exit_to_app</i>
      </a>
    </li>
  {% else %}
    <!--Show login links-->
    <li>
      <a href="{% url 'login' %}">
        Login with Social Media <i class="material-icons">account_box</i>
      </a>
    </li>
    <li>
      <a href="{% url 'login' %}">
        Login with LiveLobby <i class="material-icons">account_box</i>
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block js_scripts %}
  <!--Activates sidenav-->
  <script>
      $(document).ready(function(){
          $('.sidenav').sidenav({'edge': 'right'});
      });
  </script>
{% endblock %}

{% block content %}

<head>
  <style>
@media (max-width:600px) {
      .col
      {border-right:0px solid !important;
      border-top:3px solid #e0e0e0 !important;
      border-bottom:3px solid #e0e0e0 !important;
      }
      .row{
        margin:0px !important;}
      }
  </style>
</head>

<div class="row">
  <div class="col s12 blue">
      <div class="col-content white-text" align="center">
        <h2> {% if event.host == user%}
          <img src="{% static 'events/Edit_icon.png' %}"
          style="height: 40px; width: 40px; margin-top:10px" align="top">
          {% endif %}
          {{ event.game|upper }}</h2>
        <h4> {{ event.name|upper }} </h4>
        <h5> {{ event.description }} </h5>
        {% if event.engagement_type == CASUAL%}
        <img src="{% static 'events/CASUAL.png' %}"
        style="height: 40px; width: 160px; margin:10px 0px 10px 0px;">
        {% else %}
        <img src="{% static 'events/COMPETITIVE.png' %}"
        style="height: 40px; width: 160px; margin:10px 0px 10px 0px;">
        {% endif %}
      </div>
  </div>
</div>

<div class="row" style="display: flex; flex-wrap: wrap; padding:0px">
  <div class="col m4 s12" style="border-right:3px solid #e0e0e0;">
      <div class="col-content" style="align:left; padding:5%;">
        <p><img src="{% static 'events/Location_icon.png' %}"
          style="height: 50px; width: 50px;" align="left"></p>
          <h6 style="padding-left:55px;"><b>Guild</b>
          {% if event.is_booked%}
          <span style="color: green; margin-left:10px;"><b>BOOKED
          {% else %}
          <span style="color: orange; margin-left:10px;"><b>NOT YET BOOKED
          {% endif %}
        </b></span></h6>
        <h6 style="padding-left:55px; margin-top:20px">LG Baileys Corner, 150 London Circuit, Canberra ACT 2601</h6>
      </div>
  </div>

  <div class="col m4 s12" style="border-right:3px solid #e0e0e0; padding-bottom:10px;">
      <div class="col-content" style="align:left; padding:5%;">
        <p><img src="{% static 'events/Calendar_icon.png' %}" style="height: 50px; width: 50px;" align="left"></p>
        <h6 style="padding-left:65px;"> {{event.date | date_string}} </h6>
        <h6 style="padding-left:65px;"> {{ event.time|date:"P"|capfirst }}</h6>
      </div>
  </div>

  <div class="col m4 s12" style="padding-bottom:20px;">
      <div class="col-content" style="align:left; padding:5%;">
        <p><img src="{% static 'events/Person_icon.png' %}"
          style="height: 50px; width: 50px;" align="left"></p>
        <h5 style="padding-top:10px; margin:0; display: inline-block;"> {{ event|reserved_places }}/{{ event.max_size }}</h5>
        {% if event.host == user%}
          <a class="waves-effect waves-light red btn-large" style="float:right; width:50%;"
          href="{% url 'cancel_view' pk=event.pk %}">
            Cancel Event<i class="material-icons right">delete</i></a>
        {% elif event|has_joined:user%}
          <a class="waves-effect waves-light red btn-large" style="float:right; width:50%;"
          href="{% url 'leave_view' pk=event.pk %}">
            Leave Event<i class="material-icons right">cancel</i></a>
        {% else %}
          {% if event|reserved_places < event.max_size %}
            <a class="waves-effect waves-light blue btn-large" style="float:right; width:50%;"
            href="{% url 'join_view' event_id=event.id %}">
              Join Event<i class="material-icons right">person_add</i></a>
          {% else %}
            <a class="waves-effect waves-light btn-large disabled" style="float:right; width:50%;">
              EVENT FULL<i class="material-icons right">event_busy</i></a>
          {% endif %}
        {% endif %}
      </div>
  </div>
</div>

<div class="row" style="display: flex; flex-wrap: wrap;">
  <div class="col m6 s6 grey lighten-2">
      <div class="col-content" align="center">
        <h4>Host</h4>
        <p> {{ event.host.display_name }} </p>
    </div>
  </div>

  <div class="col m6 s6 grey lighten-2" style="border-left:3px solid white;">
      <div class="col-content" align="center">
        <h4> Players </h4>
        {% for player in event.player_list %}
          {% if player.places > 1%}
          <p class="card-text"> {{ player.user.display_name }} + {{ player.places|add:"-1" }}</p>
          {% else %}
          <p> {{ player.user.display_name }} </p>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
