{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!--Header Card-->
        <div class="card text-white bg-dark border-0 sticky-top" style="">
            <div class="d-flex flex-row justify-content-center">
                <div class="card-block d-flex mh-100 my-2 pr-3 justify-content-center">
                    <a href="http://guild.house">
                        <img style="height: 40px; width: 120px;" src="{% static 'events/guild_white.png' %}" alt="Guild Logo">
                    </a>
                </div>
                <div class="card-block d-flex mh-100 my-2 justify-content-center">
                    <h3>LiveLobby</h3>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block">+ Create Event</button>
        </div>

        <!--Events Container Card-->
        <div class="card-group pt-2">
            {% for event in object_list %}
                <div class="card bg-light">
                    
                    <!-- Place sub div tags for EventView in here -->
                    <div class="d-flex flex-row justify-content-center">
                        <div>
                            | {{ event.time }} |
                        </div>
                        <div>
                            | {{ event.name }} - Add EventView object here |
                        </div>
                        <div>
                            | Player count here |
                        </div>
                    </div>

                </div>
            {% empty %}
                <!--Shouldn't be seen but just in case, better to show something than not-->
                <div class="alert alert-info mx-auto" role="alert">There are no events yet... why not make your own?</div>
            {% endfor %}
        </div>  
    </body>
</html>