{% extends 'base.html' %}

{% block title %} Join Event | {{ event.name }}{% endblock %}

{% block back_button %}
    <a class="left show-on-large" style="margin: 0px 0px 0px 10px" href="/">
        <i class="large material-icons">arrow_back</i> 
    </a>
{% endblock %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'events/event_list.css' %}">
</head>

<div class="container">
    <div class="card">
        <div class="card-content">
            <p class="card-title grey-text text-darken-4">{{event.name}}</p>
            <p class="activator grey-text text-darken-6"> {{ event.game }} - {{event.host.display_name}}</p>
            <br>
            <p class="grey-text text-darken-4">{{event.description}}</p>
            <br>
            <ul class="collection">
                <li class="collection-item"><span> <i class="material-icons blue-text left">calendar_today</i>{{event.date | date_string}} at {{ event.time | time_string}}</span></li>
                <li class="collection-item"><span> <i class="material-icons blue-text left">accessibility_new</i>Players {{ event|reserved_places }}/{{ event.max_size }}</span></li>
                <li class="collection-item"><span> <i class="material-icons blue-text left">grade</i>{{event.get_engagement_type_display}}</span></li>
                {%if event.is_booked%}
                <li class="collection-item"><span> <i class="material-icons blue-text left">bookmark</i>Booked at Guild</span></li>
                {%endif%}

            </ul>
        </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="card-title grey-text text-darken-4">Join Event</p>
                <div class="grey-text text-darken-5">To join the event, please enter your details below.</div>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                                <br>
                            <div class="red-text left-align">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <label>{{ form.places.label }}</label>
                    <!-- For loop used to render both the field name-->
                    {% for field in form %}
                        <div class="form-group">
                            <div class="fieldWrapper input-field">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    {% if form.places.errors %}
                        {% for error in form.places.errors %}
                            <div class="red-text left-align">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <button type="submit" class="btn waves-effect waves-light blue">Join</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}