#header {
    background-color: black;
    color: white;
    padding: 4px;
    max-height: 100px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#create_event {
    background-color: dodgerblue;
    color: white;
    height: 30px;
    margin: 8px 20px 0px 20px;

    grid-column-start: 1;
    grid-column-end: 3;

    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#livelobby_text {
    text-transform: capitalize;
    font-size: 15pt;
    margin: 6px 0px 0px 10px; 
}

#guild_logo {
    height: 30px;
    width: 90px;
    display: block;
    margin: 2px 0px 0px auto;
}

.events-container {
    /* 
    Defines the container for the grid items (events)
    Opens up the possibility to have multiple types of view later
    */

    display: grid;
    grid-template-columns: auto;
    padding: 6px 0px 0px 0px;

    grid-row-gap: 5px;
}

.empty_event {
    text-align: center;
    font-size: 18px;
}

.event {
    /* 
    CSS for EventView here
    */

    /*Essential style*/
    border-style: outset;
    background-color: white;
    
    /*Rounded corners*/
    border-radius: 4px 4px 8px 8px;
    
    /*
    Placeholder properties
    When real CSS for EventView is created, remove these properties
    */
    text-align: center;
    font-size: 18px;
    padding: 20px;
    /* End Placeholder properties */
}

body {
    background-color: lightgray;
    font-family: sans-serif;
}