{% extends 'base.html' %}

{% load static %}

{% block title %}Guild's LiveLobby - Signup{% endblock %}

{% block login_menu %}
{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="card bg-light w-75">
      <div class="card-body">
        <div class="mb-4">
          <h1 class="display-4 text-center">Signup to LiveLobby</h1>

          {% if form.errors %}
            {% for field, errors in form.errors.items %}
            <div class="alert alert-danger" role="alert">
              {{ errors }}
            </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="row">
          <div class="col">
            <div class="card-block border-right">
                <form method="post">
                  {% csrf_token %}
                  <div class="text-center">
                    {% for field in form %}
                      <div class="fieldWrapper">
                          {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                              {{ error }}
                            </div>
                          {% endfor %}

                          <label for="{{ field.html_name }}" class="lead" style="display: inline-block; width: 90px; text-align: right;">
                            {{ field.label }}
                          </label>

                          {{ field }}
                          {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                          {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                  <!-- <div class="form-group">
                    <label for="username" class="lead">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                    <label for="password" class="lead">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                  </div> -->
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Signup</button>
                    <!-- <input type="submit" value="login">
                    <input type="hidden" name="next" value="{{ next }}"> -->
                  </div>
                </form>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-6">
                  <button type="button" class="btn btn-primary">Login with Test</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
            <a href="accounts/login">Return to Login</a>
        </div>  
        <div class="text-center">
            <a href="/">Return to Events</a>
        </div>
    </div>
  </div>
</div>  

{% endblock %}
