{% load static %}
<html>
    <head>
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
            <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="{% block body_class %}bg-secondary{% endblock %}">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand justify-content-center" href="#">
                <img class="d-inline-block align-top" style="height: 40px; width: 120px;" src="{% static 'events/guild_white.png' %}" alt="Guild Logo">
                <span class="d-inline h2">LiveLobby</span>
            </a>
            {% block login_badge %}
                <div class="collapse navbar-collapse" id="navbarsExample10">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}  
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown10" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown10">
                                    <a class="dropdown-item" href="#">Edit Account</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </li>
                        {% else %}
                            <p>You are not logged in</p>
                            <a href="{% url 'login' %}">login</a>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
        </nav>
        
        {% block content %}
        {% endblock %}
    </body>
</html>