{% load static %}
{% load socialaccount %}
{% load fontawesome %}

<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>

        <!-- Font/icons for social logins -->
        <!-- https://terrymooreii.github.io/materialize-social/ -->
        <!-- https://pypi.org/project/django-fontawesome/ -->
        <link type="text/css" rel="stylesheet" href="{% static 'materialize-social/materialize-social.css' %}"/>
        {% fontawesome_stylesheet %}

        <!--Import home-rolled CSS-->
        <link type="text/css" rel="stylesheet" href="{% static 'custom/guild_theming.css' %}"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        
        <!-- Facebook Analytics for FB login -->
        <script>
            window.fbAsyncInit = function() {
            FB.init({
                appId      : '{your-app-id}',
                cookie     : true,
                xfbml      : true,
                version    : '{api-version}'
            });
                
            FB.AppEvents.logPageView();   
                
            };
        
            (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <div class="navbar">
            <nav class="nav black">
                <div class="nav-wrapper">
                    <!-- LiveLobby Banner -->
                    <a class="brand-logo center show-on-medium-and-up" style="display: inline-block; height: 100%;" href="/">
                        <img style="width: auto; max-height: 60%; margin: 12px 0px 6px 0px" src="{% static 'events/GuildLiveLobby.png' %}" alt="Guild Logo">
                    </a>
    
                    <!-- Side Menu button (hamburger) -->
                    {% block side_menu_button %}
                    {% endblock %}

                    <!-- Back button -->
                    {% block back_button %}
                    {% endblock %}

                    <!-- Banner Buttons (right) -->
                    <ul class="right">
                        {% block navbar_buttons %}
                        {% endblock %}
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Side Menu -->
        <ul class="sidenav" id="mobile-nav">
            {% block side_menu_content %}
            {% endblock %}
        </ul>

        {% block content %}
        {% endblock %}

        <!-- Javascript imports -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script> 
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        
        {% block js_scripts %}
        {% endblock %}

    </body>
</html>