{% extends 'base.html' %}

{% load static %}

{% block title %}Guild's LiveLobby - Login{% endblock %}

{% block back_button %}
    <a class="left show-on-large" style="margin: 0px 0px 0px 10px" href="/">
        <i class="large material-icons">arrow_back</i> 
    </a>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-content container">
      <div class="container center">
        <div class="row">

          <!-- Social login buttons -->
          <div class="row">
            <div class="col s6 m4 offset-m2">
              <a class="waves-effect waves-light blue btn" href="#">
                Test Social 1
              </a>
            </div>
            <div class="col s6 m4">
              <a class="waves-effect waves-light red btn" href="#">
                Test Social 2
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col s6 m4 offset-m2">
              <a class="waves-effect waves-light blue btn" href="#">
                Test Social 3
              </a>
            </div>
            <div class="col s6 m4">
              <a class="waves-effect waves-light red btn" href="#">
                Test Social 4
              </a>
            </div>
          </div>
          
          <!-- hr divider (OR line) -->
          <div class="col s12 m8 offset-m2">
            <hr>
          </div>
      
          <!-- LiveLobby login form -->
        
          {% if form.errors %}
            {% for field, errors in form.errors.items %}
                <div class="col s12 m8 offset-m2">
                  <div class="red-text left-align">{{ errors }}</div>
                </div>
            {% endfor %}
          {% endif %}

          <div class="col s12 m8 offset-m2">
            <form method="post">
              {% csrf_token %} 
              {% for field in form %}
                <div class="input-field">
                  {{ field }}                
                  <label for="{{ field.html_name }}">{{ field.label }}</label>
                  {% if field.help_text %}
                    <span class="helper-text" data-error="
                      {% for error in field.errors %}
                          {{ error }}
                      {% endfor %}">
                      {{ field.help_text|safe }}
                    </span>
                  {% endif %}
                </div>
              {% endfor %}
              <div class="center-align">
                <button class="btn blue waves-effect waves-light" type="submit" name="action">             
                  Login <i class="material-icons right">account_box</i>
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="center-align" style="text-align: center">
          Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
